[Desktop Entry]
Name=Kirawnik
Exec=kirawnik
Icon=kirawnik
Type=Application
Categories=FileManager;Utility;Qt;
GenericName=File Manager
GenericName[be]=Файлавы Кіраўнік
Terminal=false
