[Desktop Entry]
Name=Kirawnik
Exec=kirawnik
Icon=kirawnik
Type=Application
Categories=Qt;System;FileManager;
GenericName=File Manager
GenericName[be]=Файлавы Кіраўнік
Terminal=false
