Package: kirawnik
Version: 0.1.0-1
Maintainer: Maksim Tamkovich <quendimax@tut.by>
Architecture: amd64
Section: comm
Description: Dual panel file manager.
 Kirawnik is a dual-panel file manager for *nix-systems (may be and other).
 It uses Qt4-library.
Depends: libc6 (>= 2.10), libstdc++6 (>= 4.4.1), libqtcore4 (>= 4.5.0), libqt4-gui (>= 4.6.0)
Installed-Size: 480
Priority: optional
Origin: https://github.com/QuendiMax/kirawnik
